{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>支援物資要望フォーム</title>
  <link rel="stylesheet" href='{% static "phone_account/style.css" %}'>
  
</head>
<body>
  <script src='{% static "phone_account/test.js" %}'></script>
  <h1>支援物資要望フォーム</h1>
  
  <div id="support-items">
    <h2>医療・介護用品</h2>
    <ul id="medical-items"></ul>
    
    <h2>特別な食事要件</h2>
    <ul id="dietary-items"></ul>
    
    <h2>幼児用品</h2>
    <ul id="baby-items"></ul>
    
    <h2>女性のための生理用品</h2>
    <ul id="feminine-items"></ul>
    
    <h2>心理的サポート</h2>
    <ul id="psychological-items"></ul>
    
    <h2>学習用具</h2>
    <ul id="learning-items"></ul>
    
    <h2>衣料品</h2>
    <ul id="clothing-items"></ul>
  </div>
  
  <button onclick="submitForm()">送信</button>
</body>
</html>