{% extends "phone/base.html" %}
{% load static %}

{% block title %}支援物資要請履歴{% endblock %}
{% block css %}<link rel="stylesheet" href='{% static "phone/history.css" %}'/>{% endblock %}

{% block header %}<h1>支援物資要請履歴</h1>{% endblock %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% for item in history %}
      <div class="item-box">
        <div>アイテム名: {{ item.item_name }}</div>
        <div>個数: {{ item.quantity }}個</div>
        <div>申請日: {{ item.created_at }}</div>
        <div>到着予定日: 
          {% if item.arrival_date %}
            {{ item.arrival_date }}
          {% else %}
            未定
          {% endif %}
        </div>
      </div>
    {% empty %}
  <div>サポートアイテムはありません。</div>
{% endfor %}
{% endblock %}