{% extends "phone/base.html" %}
{% load static %}

{% block title %}支援物資要請履歴{% endblock %}
{% block css %}<link rel="stylesheet" href='{% static "phone/history.css" %}'/>{% endblock %}

{% block header %}支援物資要請履歴{% endblock %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><アイテム名></th>
        <th><個数></th>
        <th><申請日></th>
        <th><到着予定日></th>
      </tr>
    </thead>
    <tbody>
      {% for item in history %}
        <tr>
          <td>{{ item.item_name }}</td>
          <td>{{ item.quantity }}個</td>
          <td>{{ item.created_at }}</td>
          <td>
            {% if item.arrival_date %}
              {{ item.arrival_date }}
            {% else %}
              未定
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">サポートアイテムはありません。</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}