{% extends "phone/base.html" %}
{% load static %}

{% block title %}その他の要望フォーム{% endblock %}
{% block css %}<link rel="stylesheet"  href='{% static "phone/requests.css" %}'/>{% endblock %}
{% block header %}その他の要望フォーム{% endblock %}
{% block content %}
<br>
<div class="form-container">
  <form method="post">
      {% csrf_token %}
      <textarea rows="8"cols="35" name="requests" placeholder="避難所での問題、その他要望がありましたらご気軽にご入力ください。"></textarea>
      <p><button class="btn btn-primary" type="submit">送信</button><br></p>
  </form>
</div>
{% endblock %}