{% extends "phone/base.html" %}
{% load static %}
{% block title %}自治体からの連絡{% endblock %}
{% block css %}<link rel="stylesheet" href='{% static "phone/history.css" %}'/>{% endblock %}
{% block header %}自治体からの連絡{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1>お知らせ一覧</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">タイトル</th>
            <th scope="col">投稿者</th>
            <th scope="col">日時</th>
        </tr>
    </thead>
    <tbody>
        {% for notice_text in notice_text %}
        <tr class="bulletin-row" data-content="{{ bulletin.notice }}">
          <td class="bulletin-title">
            <a href="{% url 'response_detail' notice_text.bulletin.pk %}">{{notice_text.bulletin.title}}</a>
          </td>
          <td>{{ notice_text.bulletin.account.username }}</td>
          <td>{{ notice_text.bulletin.created_at }}</td>
        </tr>
          {% empty %}
          <li>まだメッセージがありません。</li>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
  