{% extends "phone/base.html" %}
{% load static %}
{% block title %}自治体からの連絡{% endblock %}
{% block header %}自治体からの連絡{% endblock %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <ul>
    {% for notice_text in notice_text %}
   <li>
     <strong>送信者:</strong> {{notice_text.bulletin.account.username }}<br>
     <strong>タイトル:</strong> {{ notice_text.bulletin.title }}<br>
     <strong>内容:</strong> {{ notice_text.bulletin.notice }}<br>
     <strong>送信日時:</strong> {{ notice_text.bulletin.created_at }}
   </li>
 {% empty %}
   <li>まだメッセージがありません。</li>
 {% endfor %}
  </ul>
{% endblock %}