{% extends "phone/base.html" %}
{% load static %}
{% block title %}支援物資要望フォーム{% endblock %}

{% block header %}支援物資要望フォーム{% endblock %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'support/supplies.js' %}"></script>
  <form id="supportForm" method="post" action="{% url 'supplies' %}">
      {% csrf_token %}
      <input type="radio" name="category" value="医療・介護用品">医療・介護用品
      <input type="radio" name="category" value="食料品">食料品
      <input type="radio" name="category" value="幼児用品">幼児用品
      <input type="radio" name="category" value="その他">その他
      <br>
      <div id="subCategory"></div>
      <br>
      <div id="subSubCategory"></div>
      <div id="itemDetails"></div>
      <br>
      <div id="sub3Category"></div>
      <br>
      <div id="clothingCategory"></div>
      <br>
      <div id="itemDetails-2"></div>
      <br>

      <p>個数</p>
    <input type="number" name="quantity" min="1">
    <button type="submit" name="submitBtn">送信</button> 
  </form>
{% endblock %}
