{% extends "phone/base.html" %}
{% load static %}

{% block title %}ホーム画面{% endblock %}
{% block css %}<link rel="stylesheet" href='{% static "phone/circle.css" %}'/>{% endblock %}

{% block header %}<h1>ホーム画面</h1>{% endblock %}
{% block content %}
    <div class="circle-list">   
            <li>           
                <a href="{% url 'supplies' %}">
                    <span class="icon">
                        <img src='{% static "phone/suplly.png" %}'alt='物資の要請'>
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'p_requests' %}">
                    <span class="icon">
                        <img src='{% static "phone/request.png" %}'alt='その他の要望の申請'>
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'history' %}">
                    <span class="icon">
                        <img src='{% static "phone/history.png" %}'alt='過去の申請履歴の表示'>
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'response' %}">
                    <span class="icon">
                        <img src='{% static "phone/news.png" %}'alt='自治体からのお知らせ'>
                    </span>
                </a>
            </li>
           
    </div>
{% endblock %}