{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>支援物資要望フォーム</title>

</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'support/supplies.js' %}"></script>
  <h1>支援物資要望フォーム</h1>
  <form id="supportForm">
      <input type="radio" name="category" value="医療・介護用品">医療・介護用品
      <input type="radio" name="category" value="食料品">食料品
      <input type="radio" name="category" value="幼児用品">幼児用品
      <input type="radio" name="category" value="その他">その他
      <br>
      <div id="subCategory"></div>
      <br>
      <div id="subSubCategory"></div>
      <div id="itemDetails"></div>
      <br>
      <div id="sub3Category"></div>
      <br>
      <div id="clothingCategory"></div>
      <br>
      <div id="itemDetails-2"></div>
      <br>

      <p>個数</p>
    <input type="number" name="number" min="1">
    <button type="submit">送信</button>
      
  </form>
</body>
</html>