{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>基本情報変更</title>
    <link rel="stylesheet" href='{% static "phone_account/style.css" %}'/>
</head>
<body>
    <h1>基本情報変更</h1>
    <div class="reg">
    <table class="reg_form">
    <form action="{% url 'success'%}" method="post">
    {% csrf_token %}
    <p class="form-field">{{ form.as_p }}</p>
    
    <p><input type="submit" value="変更を保存"></p>
    <p><a href="{% url 'user_detail'%}">戻る</a></p>
    </form>
    </table>
    </div>
</body>
</html>
