{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>その他の要望フォーム</title>
  <link rel="stylesheet" href='{% static "requests/requests.css" %}'/>
  {% bootstrap_css %}
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <h1>その他の要望フォーム</h1>
  <form method="post">
    {% csrf_token %}
    <textarea rows="5" cols="40" name="requests" placeholder="避難所での問題、その他要望がありましたらご気軽にご入力ください。"></textarea>
    <button type="submit" name="submitBtn">送信</button>
     
  </form>
</body>
</html>
