{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>初期画面</title>
    <link rel="stylesheet" href='{% static "tablet_app/circle.css" %}'/>
</head>

<body>
    <h1>初期画面</h1>
    <div class="square-list">
        <div>
            <a href="{% url 'item' %}"><button class="square">物資の要請</button></a>
        </div>
        <div>
            <a href="{% url 'requests' %}"><button class="square">その他の要望を申請</button></a>
        </div>
        <div>
            <button class="square">過去の申請履歴の表示</button>
        </div>
    </div>
</body>
</html>
