{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>その他の要望フォーム②</title>
    <link rel="stylesheet" href='{% static "beginner/requests2.css" %}'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <header>
    <h1>その他の要望フォーム②</h1>
  </header>
  <main class="form-signin">
    <div class="d-flex flex-column align-items-center">
      <form class="text-center" method="post">
        {% csrf_token %}
        <textarea rows="10"cols="40" name="requests" placeholder="避難所での問題、その他要望がありましたらご気軽にご入力ください。"></textarea><br>
        <button class="btn btn-primary" type="submit" name="submitBtn">送信</button>
      </form> 
       <br><a href="{% url 'home' %}"><button class="btn btn-success">ホーム画面に戻る</button></a> 
    </div>
  </main> 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>
