{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索画面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href='{% static "beginner/search.css" %}'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'beginner/search.js' %}"></script>
</head>
<body>
  <h1>名前の入力</h1>
  <div class="container-fluid search">
    <form class="d-flex" role="search" method="GET" action="{% url 'search_results' %}" onsubmit="return validateForm()">
        <div class="form-group">
          <input class="form-control me-2" type="search" placeholder="ご自身のお名前を入力してください" aria-label="Search" name="q" id="q" value="{{ username }}">
          
          <div></div>
          <br>
        
          <label for="birthdate" class="form-label">生年月日を入力してください</label>
          <input class="form-control me-2" type="date" name="birthdate" id="birthdate" value="{{ birthdate }}">
      </div>
      <button class="btn btn-outline-success" type="submit">検索</button>
    </form>
  </div> 
  <a href="{% url 'home' %}"><button class="btn btn-success">ホーム画面に戻る</button></a>
</body>
</html>